
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ffffff;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav {
    background-color: #444;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}



.Involved-button a {
    color: #ffb347;
    text-decoration: none;
    display: inline-block;
    background-color: #424242;
    color: #ffb347;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 10;
    border-radius: 10px;
    border-color: #ffffff;

}

.Involved-button a:hover{
    color: #ffe600;
}